ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #640808;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff0000;
}

footer {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
}